/*******************
 * Problem Set 5   *
 * CS50, Fall 2018 *
 *******************/

.intro
{
    /* hex color code for Harvard crimson */
    color: #A51C30;
}

.lowell
{
    color: #0000FF;
    text-align: left;
    font-weight: bold;
}

header
{
    text-align: center;
    font-size: large;
}

.welcome
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

footer
{
    text-align: center;
}

img
{
    width: 250px;
    height: 250px;
}